<header className="tw-bg-white tw-shadow">
    <div className="tw-max-w-7xl tw-mx-auto tw-py-6 tw-px-4 sm:tw-px-6 lg:tw-px-8">
        <h1 className="tw-text-3xl tw-font-bold tw-text-gray-900">
            Add Product
        </h1>

    </div>
</header>
<form action="" class="mt-3">
    <div class="mb-3">
        <label for="" class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" [(ngModel)]="product.name" name="name" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Giá sản phẩm</label>
        <input type="number" class="form-control" [(ngModel)]="product.price" name="price" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Mô tả</label>
        <input type="text" class="form-control" [(ngModel)]="product.desc" name="desc" />
    </div>
    <button class="btn btn-primary" (click)="onAddProduct()">
        Thêm sản phẩm
    </button>
</form>