<div>
    <header
        class="d-flex tw-flex-column flex-md-row align-items-center tw-p-3 px-md-4 tw-mb-3 bg-body tw-border-bottom tw-shadow-sm">
        <div class="container">
            <div class="logo">
                <span>TH</span>
                <strong>Travels</strong>
            </div>
            <div class="mainTop">
                <div class="contactTop">
                    <ul>
                        <li><i class="tw-mx-2 fa fa-phone"></i>+34 266 0413</li>
                        <li><span class="fa fa-envelope"></span> Nguyentruonghai@gmail.com</li>
                    </ul>
                </div>
                <div class="navTop">
                    <ul class="socialTop">
                        <!-- <li>
                            <span class="fab fa-google-plus"></span>
                        </li>
                        <li>
                            <span class="fab fa-linkedin"></span>
                        </li>
                        <li>
                            <span class="fab fa-twitter"></span>
                        </li>
                        <li>
                            < class="fab fa-facebook-f"></span>
                        </li> -->
                    </ul>
                    <nav>
                        <ul class="flex py-3">
                            <li routerLink="/" class="px-4 font-bold">
                                Home
                            </li>
                            <li routerLink="/product" class="px-4 font-bold">
                                Product
                            </li>
                            <li routerLink="/blog" class="px-4 font-bold">
                                Blog
                            </li>
                            <li routerLink="/contact" class="px-4 font-bold">
                                Contact
                            </li>
                            <li routerLink="/login" class="px-4 font-bold">
                                Login
                            </li>
                            <li routerLink="/dashboard" class="px-4 font-bold">
                                Manager
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <section class="sectionMain sectionSlider">
            <div class="container">
                <div class="slider">
                    <div class="sliderContent">
                        <h5>Varius</h5>
                        <h2>Your Holiday!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <a class="btn-more" href="#">More</a>
                    </div>
                    <ul class="navSlider">
                        <!-- <li class="active"><a href /></li>
                        <li><a href /></li>
                        <li><a href /></li>
                        <li><a href /></li>
                        <li><a href /></li> -->
                    </ul>
                </div>
            </div>
        </section>

        <section class="sectionMain sectionWelcome">
            <div class="container">
                <label class="labelSection">Welcome</label>
                <div class="modWelcome">
                    <article>
                        <img src="assets/images/2.jpg">

                        <div class="thumbArt"></div>
                        <h3>Welcome.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href class="btn-more">More</a>
                    </article>
                    <article>
                        <img src="assets/images/3.jpg">

                        <div class="thumbArt"></div>
                        <h3>Welcome.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href class="btn-more">More</a>
                    </article>
                </div>
            </div>
        </section>

        <section class="sectionMain sectionServices">
            <div class="container">
                <label class="labelSection">Services</label>
                <ul class="modServices">
                    <li>
                        <div class="servicesCont">
                            <!-- <div><i class="fas fa-anchor fa-2x" /></div> -->
                            <h5>Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <div class="servicesCont">
                            <!-- <div><i class="fas fa-comment fa-2x" /></div> -->
                            <h5>Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <div class="servicesCont">
                            <!-- <div><i class="fas fa-heartbeat fa-2x" /></div> -->
                            <h5>Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <div class="servicesCont">
                            <!-- <div><i class="fas fa-bullseye fa-2x" /></div> -->
                            <h5>Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <div class="servicesCont">
                            <!-- <div><i class="fas fa-balance-scale fa-2x" /></div> -->
                            <h5>Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <div class="servicesCont">
                            <!-- <div><i class="fab fa-mixcloud fa-2x" /></div> -->
                            <h5>Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="sectionMain sectionNews">
            <div class="container">
                <label class="labelSection">News</label>
                <article class="artNews">
                    <img src="assets/images/4.jpg">
                    <ul class="desSort">
                        <!-- <li><i class="fas fa-user" /> Admin</li>
                        <li><i class="fas fa-calendar-alt" /> May, 06, 2019</li> -->
                    </ul>
                    <h2>The most beautiful beach on over the world</h2>
                    <a href="#" class="btn-more">More</a>
                </article>
            </div>
        </section>

        <section class="sectionMain sectionSubs">
            <div class="container">
                <label class="labelSection">Join the Club</label>
                <div class="subCont">
                    <form>
                        <input type="text" name placeholder="Your email" />
                        <!-- <button type="submit"><i class="fab fa-telegram-plane fa-2x" /></button> -->
                    </form>
                </div>
            </div>
        </section>
        <footer>
            <div class="mainFooter">
                <div class="container">
                    <div class="col">
                        <h4>History of us</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco</p>
                    </div>
                    <div class="col">
                        <h4>Twtter Post</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco</p>
                    </div>
                    <div class="col col-secon">
                        <h4>Events</h4>
                        <ul>
                            <li><a href><span>12 Aug</span> Cuciculum </a></li>
                            <li><a href><span>12 Aug</span> Cuciculum </a></li>
                            <li><a href><span>12 Aug</span> Cuciculum </a></li>
                            <li><a href><span>12 Aug</span> Cuciculum </a></li>
                            <li><a href><span>12 Aug</span> Cuciculum </a></li>
                            <li><a href><span>12 Aug</span> Cuciculum </a></li>
                        </ul>
                    </div>
                    <div class="col col-secon">
                        <h4>Navigation</h4>
                        <ul>
                            <li><a href>Home</a></li>
                            <li><a href>About</a></li>
                            <li><a href>Pages</a></li>
                            <li><a href>code</a></li>
                            <li><a href>Gallery</a></li>
                            <li><a href>Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2021 TH TRAVElS</p>
                </div>
            </div>
        </footer>
    </div>

</div>